.container {
    border-radius: 1rem;
    padding: 5rem 4rem;
    width: 40rem;
    max-width: 100%;
    background: var(--color-main);
    box-shadow: var(--shadow);
    display: grid;
    justify-items: center;
}

.container__small {
    width: max-content;
    padding: 4rem;
}
