.game {
    width: 100%;
    max-width: 100rem;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(1fr, max-content) max-content;
}

.playerSpace {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: max-content;
    max-height: calc(100vh - 30rem);
    align-self: center;
    padding: 0 1rem;
}

.typingSpace {
    padding: 0 1rem;
}

.countdownWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.countdownOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    opacity: 0.7;
}

.countdown {
    position: fixed;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    justify-content: center;

    h1 {
        color: var(--color-accent);
        font-size: 20rem;
        font-weight: 700;

        animation: forwards 0.4s splash ease-in-out;
        opacity: 0;

        @keyframes splash {
            0% {
                font-size: 10rem;
                opacity: 0;
            }
            60% {
                font-size: 25rem;
                opacity: 1;
            }
            100% {
                font-size: 20rem;
                opacity: 1;
            }
        }
    }
}
